extend ../layout.pug

block content 
    input(type="hidden", id="uid")
    .content 
    div(class=['grid', 'md:grid-cols-2', 'gap-3','sm:grid-cols-1', 'justify-items-center', 'place-content-center'])
        div.bg-white.p-5.rounded.text-center
            p.text-xl.mb-5= 'Your Application'
            if applicationSubmission === 'pending' 
                a(href='/student/apply').text-2xl.text-yellow-500.underline= 'Pending'
            else if application === 'approved'
                a(href='/student/apply').text-2xl.text-green-500.underline= 'Accepted'
            else if application === 'rejected'
                a(href='/student/apply').text-2xl.text-red-500.underline= 'Rejected'
            else 
                p.text-2xl.underline= ''
        div.bg-white.p-5.rounded.text-center
            p.text-xl.mb-5= 'Exemption Status'
            if exemptionSubmission === 'pending' 
                a(href='/student/exempt').text-2xl.text-yellow-500.underline= 'Pending'
            else if exemptionSubmission === 'approved'
                a(href='/student/exempt').text-2xl.text-green-500.underline= 'Accepted'
            else if exemptionSubmission === 'rejected'
                a(href='/student/exempt').text-2xl.text-red-500.underline= 'Rejected'
            else 
                p.text-2xl.underline= ''
            
    
block includeScript 